<!-- @format -->

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="public/style.css" />
        <link rel="stylesheet" href="public/tailwind.css" />
        <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
        <link rel="icon" href="public/pi.png" type="image/png" />
        <script src="https://cdn.tailwindcss.com"></script>
        <title>Pi dashboard</title>
    </head>

    <body class="grid h-screen w-full pl-[56px]">
        <aside class="inset-y fixed left-0 z-20 flex h-full flex-col border-r">
            <div class="border-b p-2">
                <button
                    class="inline-flex items-center justify-center gap-2 whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 [&amp;_svg]:pointer-events-none [&amp;_svg]:size-4 [&amp;_svg]:shrink-0 border border-input bg-background hover h-10 w-10"
                    aria-label="Home"
                >
                    <img src="public/butterfly.png" alt="Twikey logo" width="24" height="24" />
                </button>
            </div>
            <nav class="grid gap-1 p-2">
                <button
                    class="bg-muted inline-flex items-center justify-center gap-2 whitespace-nowrap text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 [&amp;_svg]:pointer-events-none [&amp;_svg]:size-4 [&amp;_svg]:shrink-0 hover h-10 w-10 rounded-lg"
                    aria-label="Settings"
                    data-state="closed"
                >
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="lucide lucide-settings2 size-5"
                    >
                        <path d="M20 7h-9"></path>
                        <path d="M14 17H5"></path>
                        <circle cx="17" cy="17" r="3"></circle>
                        <circle cx="7" cy="7" r="3"></circle>
                    </svg>
                </button>
            </nav>
        </aside>
        <div class="flex flex-col">
            <header class="sticky top-0 z-10 flex h-[57px] items-center gap-1 border-b bg-background px-4">
                <h1 class="text-xl font-semibold">Twikey bell dashboard</h1>
                <div class="ml-auto">
                    <button
                        id="shutdown"
                        class="inline-flex items-center justify-center whitespace-nowrap font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 [&amp;_svg]:pointer-events-none [&amp;_svg]:size-4 [&amp;_svg]:shrink-0 border border-input bg-background hover h-9 rounded-md gap-1.5 text-sm"
                        style="padding-left: 0.625rem; padding-right: 0.625rem;"
                    >
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="lucide lucide-power size-3.5"
                        ><path d="M12 2v10" /><path d="M18.4 6.6a9 9 0 1 1-12.77.04" /></svg>
                    </button>
                    <button
                        id="update"
                        class="inline-flex items-center justify-center whitespace-nowrap font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 [&amp;_svg]:pointer-events-none [&amp;_svg]:size-4 [&amp;_svg]:shrink-0 border border-input bg-background hover h-9 rounded-md px-3 gap-1.5 text-sm"
                    >
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="lucide lucide-share size-3.5"
                        >
                            <path d="M4 12v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-8"></path>
                            <polyline points="16 6 12 2 8 6"></polyline>
                            <line x1="12" x2="12" y1="2" y2="15"></line></svg>Update
                    </button>
                </div>
            </header>

            <main class="grid flex-1 gap-4 overflow-auto p-4 md:grid-cols-2 lg:grid-cols-3">
                <div class="relative hidden flex-col items-start gap-8 md:flex">
                    <form class="grid w-full items-start gap-6">
                        <fieldset class="grid gap-6 rounded-lg border p-4">
                            <legend class="-ml-1 px-1 text-sm font-medium">statistics</legend>
                            <div class="grid gap-3">
                                <label
                                    class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
                                    for="model"
                                >Volume</label>
                                <span
                                    dir="ltr"
                                    id="track"
                                    data-orientation="horizontal"
                                    aria-disabled="false"
                                    class="relative flex touch-none select-none items-center w-full"
                                    style="--radix-slider-thumb-transform: translateX(-50%);"
                                ><span data-orientation="horizontal" class="relative h-2 w-full grow overflow-hidden rounded-full bg-secondary"><span
                                            data-orientation="horizontal"
                                            id="slider_fill"
                                            class="absolute h-full bg-primary"
                                            style="left: 0%; right: {{{volumeLevelRight}}}%; border-top-right-radius: 0"
                                        ></span></span><span
                                        style="transform: var(--radix-slider-thumb-transform); position: absolute; left: {{{volumeLevel}}}%; right: {{{volumeLevelRight}}}%"
                                    ><span
                                            role="slider"
                                            aria-valuemin="0"
                                            aria-valuemax="100"
                                            aria-orientation="horizontal"
                                            data-orientation="horizontal"
                                            tabindex="0"
                                            class="block h-5 w-5 rounded-full border-2 border-primary bg-background ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50"
                                            data-radix-collection-item=""
                                            aria-valuenow={{{volumeLevel}}}
                                            style="left: {{{volumeLevel}}}%;"
                                        ></span></span></span>
                            </div>
                            <div class="grid gap-3">
                                <label
                                    class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
                                    for="temperature"
                                >Temperature</label>
                                <p
                                    class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium file:text-foreground placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
                                >
                                    {{{temperature}}}
                                </p>
                            </div>
                            <div class="grid gap-3">
                                <label
                                    class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
                                    for="temperature"
                                >Uptime</label>
                                <p
                                    class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium file:text-foreground placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
                                >
                                    {{{uptime}}}
                                </p>
                            </div>
                        </fieldset>
                    </form>
                </div>

                <div
                    class="relative flex h-full min-h-[50vh] flex-col rounded-xl bg-muted/50 p-4 lg:col-span-2"
                    style="background-color: hsl(240 4.8% 95.9%/0.5)"
                >
                    <div
                        class="inline-flex items-center rounded-full border px-2.5 py-0.5 text-xs font-semibold transition-colors focus:outline-none focus:ring-2 focus:ring-ring focus:ring-offset-2 text-foreground absolute right-3 top-3"
                    >
                        Output
                    </div>
                    <div class="p-4 grid w-full max-w-sm items-center gap-1.5">
                        <label for="file_input" class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70">MP3
                            file</label>
                        <div class="flex w-full max-w-sm items-center space-x-2">
                            <input
                                type="file"
                                id="file_input"
                                class="hover transition-colors flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium file:text-foreground placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
                            />
                            <button
                                class="inline-flex items-center justify-center gap-2 whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 [&amp;_svg]:pointer-events-none [&amp;_svg]:size-4 [&amp;_svg]:shrink-0 bg-primary text-primary-foreground hover-2 h-10 px-4 py-2"
                                type="submit"
                                id="upload"
                                style="color: hsl(var(--primary-foreground))"
                            >
                                Submit
                            </button>
                        </div>
                    </div>

                    <div class="preview flex flex-col min-h-[350px] w-full justify-start p-4 items-start">
                        <label
                            for="file_input"
                            class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
                        >Sounds</label>
                        <div class="relative w-full overflow-auto">
                            <table class="w-full caption-bottom text-sm">
                                <thead class="[&amp;_tr]:border-b">
                                    <tr class="border-b transition-colors hover:bg-muted/50 data-[state=selected]:bg-muted">
                                        <th
                                            class="h-12 px-4 text-left align-middle font-medium text-muted-foreground [&amp;:has([role=checkbox])]:pr-0 w-[100px]"
                                        >
                                            Name
                                        </th>
                                        <th
                                            class="h-12 px-4 text-left align-middle font-medium text-muted-foreground [&amp;:has([role=checkbox])]:pr-0"
                                        >
                                            Play
                                        </th>
                                    </tr>
                                </thead>
                                <tbody class="[&amp;_tr:last-child]:border-0">
                                    <tr class="border-b transition-colors hover:bg-muted/50 data-[state=selected]:bg-muted">
                                        <td class="p-4 align-middle [&amp;:has([role=checkbox])]:pr-0 font-medium">new_client.mp3</td>
                                        <td class="p-4 align-middle [&amp;:has([role=checkbox])]:pr-0">
                                            <audio controls>
                                                <source src="public/sounds/new_client.mp3" type="audio/mp3" />
                                                Your browser does not support the audio element.
                                            </audio>
                                        </td>
                                    </tr>
                                    <tr class="border-b transition-colors hover:bg-muted/50 data-[state=selected]:bg-muted">
                                        <td class="p-4 align-middle [&amp;:has([role=checkbox])]:pr-0 font-medium">activated_client.mp3</td>
                                        <td class="p-4 align-middle [&amp;:has([role=checkbox])]:pr-0">
                                            <audio controls>
                                                <source src="public/sounds/activated_client.mp3" type="audio/mp3" />
                                                Your browser does not support the audio element.
                                            </audio>
                                        </td>
                                    </tr>
                                    <tr class="border-b transition-colors hover:bg-muted/50 data-[state=selected]:bg-muted">
                                        <td class="p-4 align-middle [&amp;:has([role=checkbox])]:pr-0 font-medium">churned_client.mp3</td>
                                        <td class="p-4 align-middle [&amp;:has([role=checkbox])]:pr-0">
                                            <audio controls>
                                                <source src="public/sounds/churned_client.mp3" type="audio/mp3" />
                                                Your browser does not support the audio element.
                                            </audio>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </main>
        </div>

        <script src="public/index.js"></script>
    </body>
</html>